.something-list-section {
  padding: 20px;
  text-align: center;
}

.something-list-input {
  padding: 8px;
  margin-bottom: 20px;
  width: 200px;
}

.something-list-button {
  padding: 8px 12px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid;
  background-color: #6f66d8;
  color: white;
}

.something-list-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}